<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker App</title>
</head>
<body>
    <div style="margin-left:500px;" >
        
        <h1>Welcome to Docker App</h1>
        <p>This is a simple app to demonstrate the use of Docker.</p>
        <p>It is built using Python Flask and Nginx.</p>
        <p>It is running on a Docker container.</p>
        <p>It is deployed on a Kubernetes cluster.</p>
    </div>



    <div style="margin-left: 500px; margin-top: 200px;">
        <h2>Student Details</h2>
        <p>Student ID: 22f1001500</p>
        <p>Student Name: Tejas Patare</p>
    </div>


</body>
</html>